/* required styles for Zonal Boundary */

.info{
    padding: 6px 4px;
    font: 14px/14px Arial, Helvetica, Sans-serif;
    color: #ecd817;
    background: black;
    background rgba(0,0,0.0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 50px
}

.info h4 {
    margin: 0 0 5px;
    color: GoldenRod; 
};
}
